<template>

    <span
        @click.prevent.stop="showList"
        class="img-select">
        <select
            @click="showList"
            disabled>
        </select>
        <img
            class="img-selected"
            :src="selected">
        <ul v-show="isShow"
            class="list">
            <li v-for="item in datasets"
                @click.prevent.stop="select(item.id)"
                :title="item.name"
                class="list-item">
                <img :src="item.iconPath">
            </li>
        </ul>
    </span>

</template>

<script>

    export default {
        props: {
            datasets: {
                type: Array,
                default() {
                    return [];
                },
            },
            value: {
                default: null,
            },
        },
        data() {
            return {
                isShow: false,
            };
        },
        computed: {
            selected() {
                const { iconPath } = this.datasets.find(
                    ({ id }) => (this.value === id)
                ) || {};
                return iconPath;
            },
        },
        methods: {
            showList() {
                this.isShow = true;
            },
            hideList() {
                this.isShow = false;
            },
            select(value) {
                this.value = value;
                this.hideList();
            },
        },
        ready() {
            document.addEventListener("click", this.hideList);
        },
    };

</script>

<style scoped>

    .img-select {
        position: relative;
    }

    .img-selected, {
    }

    .list {
        left: 0;
        top: 100%;
        min-width: 120px;
        margin-top: 1px;
        height: 200px;
        background: #b0bdd1;
        position: absolute;
        overflow-y: auto;
    }

    .list-item {
        position: relative;
    }

    .list-item:hover {
        background: #1e90ff;
    }

    select {
        width: 120px;
        height: 100px;
    }

    .list-item {
        width: 100%;
        height: 100px;
    }

    img {
        left: 10px;
        top: 10px;
        width: 80px;
        height: 80px;
        position: absolute;
    }

</style>
