<template>

    <div
        :class="[ (active !== null) ? 'active' : '' ]"
        class="level-select clearfix">
        <div
            :style="progressStyle"
            class="progress-bar">
        </div>
        <span v-for="item in datasets"
            :style="{ 'width': width + '%' }"
            :class="[ (active === item) ? 'active' : '' ]"
            class="level-item">
            {{ item }}
        </span>
    </div>

</template>

<script>

    export default {
        props: {
            active: {
                default: null,
            },
            datasets: {
                type: Array,
                required: true,
            },
        },
        computed: {
            size() {
                return this.datasets.length;
            },
            width() {
                return (100 / this.size);
            },
            index() {
                for (let i = 0; i < this.size; i++) {
                    if (this.datasets[i] === this.active) {
                        return i;
                    }
                }
                return 0;
            },
            progressStyle() {
                const width = (
                    (this.value !== null) ?
                    ((this.index + 1) * this.width + "%") :
                    0
                );
                return { width };
            },
        },
    };

</script>

<style scoped>

    .level-select {
        background: transparent;
        border: 1px solid #fff; /*no*/
        border-radius: 10px;
        text-align: center;
        display: inline-block;
        position: relative;
        overflow: hidden;
        user-select: none;
        cursor: default;
        box-sizing: border-box;
    }

    .level-select.active {
        color: #4c6592;
    }

    .progress-bar {
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background: #fff;
        position: absolute;
        transition: width .5s ease;
        z-index: 1;
    }

    .level-item {
        float: left;
        color: transparent;
        box-sizing: border-box;
        transition: color .5s ease;
        position: relative;
        z-index: 2;
    }

    .level-item.active {
        color: inherit;
    }

    .level-item:not(:last-child) {
        border-right: 3px solid #6278a0; /*no*/
    }

</style>
