<template>

    <div v-show="isShow"
        class="popup">
        <div @keyup.enter="validating"
            class="popup-box">
            <a @click="hidePopup"
                class="btn-close">
            </a>
            <div
                v-show="showOld"
                class="row">
                <label>
                    当前密码
                </label>
                <input
                    v-model="form.oldPassword"
                    type="password"
                    autofocus>
                <label class="strength disabled">
                </label>
            </div>
            <div class="row">
                <label>
                    重设密码
                </label>
                <input
                    v-model="form.newPassword"
                    type="password">
                <label class="strength">
                    {{ strength }}
                </label>
            </div>
            <div class="row">
                <label>
                    确认密码
                </label>
                <input
                    v-model="form.cfmPassword"
                    type="password">
                <label class="strength disabled">
                </label>
            </div>
            <div class="row">
                <a @click="validating"
                    class="btn-submit">
                    {{ btnText }}
                </a>
            </div>
            <p v-show="!!message"
                transition="fade"
                class="message">
                {{ message }}
            </p>
        </div>
    </div>

</template>

<script>

    import Promise from "promise";

    export default {
        props: {
            showOld: {
                type: Boolean,
                default: true,
            },
            getPasswordStrength: {
                type: Function,
                default: () => Promise.reject(),
            },
            validate: {
                type: Function,
                default: () => Promise.resolve(),
            },
            submit: {
                type: Function,
                default: () => Promise.resolve(),
            },
        },
        data() {
            return {
                isShow: false,
                isSubmiting: false,
                strength: "弱",
                message: null,
                args: [],
                form: {
                    oldPassword: null,
                    newPassword: null,
                    cfmPassword: null,
                },
            };
        },
        computed: {
            btnText() {
                return (this.isSubmiting ? "正在提交..." : "确认");
            },
        },
        watch: {
            "form.password"(value) {
                if (typeof value !== "string") {
                    return;
                }

                this.getPasswordStrength(this.form)
                    .then(({ strength }) => (this.strength = strength));
            },
        },
        methods: {
            showPopup(...args) {
                this.isShow = true;
                this.args = args;
            },
            hidePopup() {
                this.isShow = false;
            },
            resetForm() {
                Object.keys(this.form).forEach(key => (this.form[key] = null));
            },
            showMessage(message) {
                if ((message === null) || (typeof message === "string")) {
                    this.message = message;
                }
            },
            hideMessage() {
                this.message = null;
            },
            startSubmiting(promise) {
                if (promise.then) {
                    this.isSubmiting = true;
                    promise.then(
                        this.endSubmiting,
                        this.endSubmiting
                    );
                }
            },
            endSubmiting() {
                this.isSubmiting = false;
            },
            validating() {
                this.hideMessage();

                this.validate(this.form)
                    .then(() => this.submiting())
                    .catch(this.showMessage);
            },
            submiting() {
                this.hideMessage();

                this.submit(...this.args, this.form)
                    .then(() => {
                        this.hideMessage();
                        this.hidePopup();
                        this.resetForm();
                    })
                    .catch(this.showMessage);
            },
        },
    };

</script>

<style scoped>

    .popup {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .4);
        position: fixed;
        z-index: 9999;
    }

    .popup-box {
        left: 50%;
        top: 50%;
        width: 600px;
        height: 371px;
        margin-left: -300px;
        margin-top: -185.5px;
        padding: 50px;
        background: #f0f6ff;
        border-radius: 10px;
        font-size: 36px;
        position: absolute;
        box-sizing: border-box;
    }

    .btn-close {
        right: 10px;
        top: 10px;
        width: 33px;
        height: 33px;
        background: url(../../image/close.png) scroll no-repeat center center / cover;
        position: absolute;
    }

    .btn-submit {
        padding: 0 1em;
        background: #334056;
        color: #fff;
        text-align: center;
        border-radius: 10px;
    }

    .strength {
        width: 33px;
        height: 33px;
        color: #fff;
        font-size: 24px;
        line-height: 33px;
        background: #333f56;
        border-radius: 10px;
        transform: translateY(-3px);
        display: inline-block;
    }

    .strength.disabled {
        opacity: 0;
    }

    .row {
        text-align: center;
    }

    .row:not(:first-of-type) {
        margin-top: 25px;
    }

    .message {
        margin-top: 15px;
        color: red;
        font-size: 24px;
        text-align: center;
    }

    input {
        width: 185px;
        line-height: 1.2;
        background: #333f56;
        color: #fff;
    }

</style>
