<template>

    <div class="tab-sheet">
        <ul class="tab">
            <li v-for="label in labels"
                :class="[ (values[$index] === current) ? 'selected' : '' ]"
                class="tab-item">
                <a v-link="{ path: paths[$index] }"
                    class="tab-item-link">
                    {{ label }}
                </a>
            </li>
        </ul>
        <div class="content">
            <slot></slot>
        </div>
    </div>

</template>

<script>

    export default {
        props: {
            datasets: {
                type: Array,
                default() {
                    return [];
                },
            },
            current: {
                default: null,
            },
        },
        computed: {
            labels() {
                return this.datasets.map(({ label }) => label);
            },
            values() {
                return this.datasets.map(({ value }) => value);
            },
            paths() {
                return this.datasets.map(({ path }) => path);
            },
        },
    };

</script>

<style scoped>

    .tab {
        line-height: 110px;
        font-size: 48px;
        display: flex;
    }

    .tab-item {
        background: #fff;
        flex: 1;
        text-align: center;
        position: relative;
    }

    .tab-item:not(:first-child)::before {
        content: "";
        left: 0;
        top: 50%;
        width: 5px;
        height: 93px;
        transform: translate(-50%, -50%);
        background: url(../../image/sep.png) scroll no-repeat center center / cover;
        display: block;
        position: absolute;
    }

    .tab-item.selected::after {
        content: "";
        left: 50%;
        bottom: 0;
        width: 76px;
        height: 38px;
        background: url(../../image/tri.png) scroll no-repeat center center / cover;
        transform: translate(-50%, 100%);
        display: block;
        position: absolute;
    }

    .tab-item-link {
        color: #1a2940;
        width: 100%;
        text-align: center;
    }

    .content {
        width: 980px;
        height: 468px;
        background: url(../../image/bg_tab_content.png) scroll no-repeat center center / cover;
        overflow-y: auto;
    }

</style>
