<template>

    <div
        v-el:container
        :class="classSet"
        :style="style.container"
        class="container">
        <div
            :style="style.wrapper"
            class="wrapper">
            <router-view
                keep-alive>
            </router-view>
        </div>
    </div>

</template>

<script>

    import store from "store";
    import {
        hasLoggedIn,
    } from "store/getter";
    import {
        getLoginStatus,
    } from "store/action";

    export default {
        components: {
        },
        store,
        data() {
            return {
                style: {
                    container: {
                        paddingLeft: "0",
                        paddingTop: "0",
                    },
                    wrapper: {
                        width: "1440px",
                        height: "980px",
                    },
                },
            };
        },
        vuex: {
            getters: {
                hasLoggedIn,
            },
            actions: {
                getLoginStatus,
            },
        },
        computed: {
            path() {
                return this.$route.path;
            },
            isAuthPage() {
                return this.path.startsWith("/auth");
            },
            isUserPage() {
                return this.path.startsWith("/user");
            },
            classSet() {
                return {
                    auth: this.isAuthPage,
                    user: this.isUserPage,
                };
            },
        },
        methods: {
            resize() {
                const originalWidth = 1440;
                const originalHeight = 980;
                const { document } = window;
                const { offsetWidth, offsetHeight } = this.$els.container;
                const ratio = Math.min(
                    offsetWidth / originalWidth,
                    offsetHeight / originalHeight
                );
                const width = originalWidth * ratio;
                const height = originalHeight * ratio;
                this.style = {
                    container: {
                        paddingLeft: (offsetWidth - width) / 2 + "px",
                        paddingTop: (offsetHeight - height) / 2 + "px",
                    },
                    wrapper: {
                        width: width + "px",
                        height: height + "px",
                    },
                };

                document.documentElement.style.fontSize = width / 1440 * 75 + "px";
            },
        },
        ready() {
            this.resize();
            window.addEventListener("resize", this.resize);
        },
    };

</script>

<style scoped>

    .container {
        width: 100%;
        height: 100%;
        font-size: 16px;
        font-family: "迷你简菱心";
        background: transparent scroll no-repeat center center / cover;
        overflow: hidden;
        box-sizing: border-box;
    }

    .container.auth {
        background-image: url(../../image/bg_auth.png);
    }

    .container.user {
        background-image: url(../../image/bg_user.png);
    }

</style>
