<template>

    <div @keyup.enter="submit"
        class="form">
        <div class="row">
            <label>
                账号：
            </label>
            <input
                v-model="account.username"
                type="text"
                autofocus>
        </div>
        <div class="row">
            <label>
                密码：
            </label>
            <input
                v-model="account.password"
                type="password">
        </div>
        <div class="row">
            <label>
                确认密码：
            </label>
            <input
                v-model="account.cfmPassword"
                type="password">
        </div>
        <div class="row">
            <a @click="submit"
                class="btn-login">
                {{ btnText }}
            </a>
        </div>
        <p v-show="!!message"
            transition="fade"
            class="message">
            {{ message }}
        </p>
    </div>

</template>

<script>

    import {
        register,
    } from "store/action";

    import { extractMessage } from "resource/util";

    import Promise from "promise";

    export default {
        data() {
            return {
                account: {
                    username: "",
                    password: "",
                },
                message: null,
                isSubmiting: false,
            };
        },
        vuex: {
            actions: { register },
        },
        computed: {
            btnText() {
                return (this.isSubmiting ? "正在提交..." : "提交");
            },
        },
        methods: {
            resetAccount() {
                Object.keys(this.account).forEach(key => (this.account[key] = null));
            },
            showMessage(message) {
                this.message = message;
            },
            hideMessage() {
                this.message = null;
            },
            startSubmiting(promise) {
                if (promise.then) {
                    this.isSubmiting = true;
                    promise.then(
                        this.endSubmiting,
                        this.endSubmiting
                    );
                }
            },
            endSubmiting() {
                this.isSubmiting = false;
            },
            submit() {
                this.hideMessage();

                const { username, password, cfmPassword } = this.account;
                if (username.length === 0) {
                    this.showMessage("账号不能为空哦~");
                    return;
                }
                if (password.length === 0) {
                    this.showMessage("密码不能为空哦~");
                    return;
                }
                if (password !== cfmPassword) {
                    this.showMessage("两次输入的密码不相同哦~");
                    return;
                }

                this.startSubmiting(
                    this.register(this.account)
                        .then(() => {
                            this.hideMessage();
                            this.resetAccount();
                            this.$router.go("/auth/login");
                            return Promise.resolve();
                        })
                        .catch(error => {
                            this.showMessage(extractMessage(error));
                            throw error;
                        })
                );
            },
        },
    };

</script>

<style scoped>

    .form {
        top: 250px;
        left: 438px;
        width: 565px;
        height: 432px;
        padding: 30px;
        font-size: 36px;
        line-height: 47px;
        background: url(../../image/bg_login.png) scroll no-repeat center center / cover;
        position: absolute;
    }

    .row {
        margin-top: 30px;
        text-align: center;
    }

    .btn-login {
        padding: 0 1em;
        background: #fff;
        color: #39598c;
        text-align: center;
        border-radius: 10px;
    }

    .message {
        margin-top: 25px;
        color: red;
        font-size: 24px;
        text-align: center;
    }

    .reset {
        right: 30px;
        bottom: 30px;
        font-size: 24px;
        font-family: 黑体;
        color: #fff;
        position: absolute;
    }

    label {
        min-width: 190px;
        color: #fff;
        font-weight: 600;
        text-align: right;
        display: inline-block;
    }

    input {
        width: 306px;
    }

</style>
