<template>

    <div
        :class="hint"
        class="hint">
    </div>

</template>

<script>

    export default {
        data() {
            return {
                hint: "",
            };
        },
        route: {
            data({ to }) {
                this.hint = to.params.hint;
            },
        },
    };

</script>

<style scoped>

    .hint {
        left: 437px;
        top: 250px;
        width: 571px;
        height: 443px;
        background: transparent scroll no-repeat center center / cover;
        position: absolute;
    }

    .hint.about {
        background-image: url(../../image/about.png);
    }

    .hint.services {
        background-image: url(../../image/services.png);
    }

</style>
