<template>

    <div
        :class="[ isIndexPage ? 'index' : '' ]"
        class="body">
        <a v-link="{ path: '/auth' }"
            class="logo">
            <img src="../../image/logo_lock.png">
        </a>
        <ul class="nav">
            <li class="nav-item">
                <a v-link="{ path: '/auth/hint/about' }">
                    ABOUT
                </a>
            </li>
            <li class="nav-item">
                <a v-link="{ path: '/auth/hint/services' }">
                    SERVICES
                </a>
            </li>
        </ul>
        <router-view
            keep-alive>
        </router-view>
    </div>

</template>

<script>

    export default {
        computed: {
            isIndexPage() {
                return (this.$route.path === "/auth");
            },
        },
    };

</script>

<style scoped>

    .logo {
        transform: translate(-25px, -25px);
        width: 260px;
        position: absolute;
        transition: transform .5s ease,
            width .5s ease;
    }

    .logo > img {
        width: 100%;
    }

    .index .logo {
        width: 517px;
        opacity: 0;
        transform: translate(452px, 60px);
    }

    .nav {
        top: 20px;
        right: 60px;
        font-size: 30px;
        font-weight: 600;
        position: absolute;
    }

    .nav-item {
        float: left;
    }

    .nav-item:not(:first-child) {
        margin-left: 90px;
    }

</style>
