<template>

    <div class="index">
        <img
            class="slogan"
            src="../../image/slogan.png">
        <div class="operation clearfix">
            <a v-link="{ path: '/auth/login' }"
                class="operation-btn login">
            </a>
            <a v-link="{ path: '/auth/join' }"
                class="operation-btn join">
            </a>
        </div>
    </div>

</template>

<script>

    export default {};

</script>

<style scoped>

    .index {
        top: 60px;
        left: 215px;
        position: absolute;
    }

    .slogan {
        width: 1011px;
    }

    .operation {
        margin-top: 25px;
        text-align: center;
        font-size: 0;
    }

    .operation-btn {
        width: 206px;
        height: 91px;
        background: transparent scroll no-repeat center center / cover;
    }

    .operation-btn.login {
        margin-right: 160px;
        background-image: url(../../image/login.png);
    }

    .operation-btn.login:hover {
        background-image: url(../../image/login_active.png);
    }

    .operation-btn.join {
        background-image: url(../../image/join.png);
    }

    .operation-btn.join:hover {
        background-image: url(../../image/join_active.png);
    }

</style>
