<template>

    <div @keyup.enter="submit"
        class="form">
        <div class="field">
            <p class="title">
                请输入您曾录入的三组信息，确认无误即可重置
            </p>
            <div class="row">
                <span class="left">
                    <label>
                        账号1
                    </label>
                    <input
                        v-model="form.username1"
                        type="text">
                </span>
                <span class="">
                    <label>
                        密码1
                    </label>
                    <input
                        v-model="form.password1"
                        type="password">
                </span>
            </div>
            <div class="row">
                <span class="left">
                    <label>
                        账号2
                    </label>
                    <input
                        v-model="form.username2"
                        type="text">
                </span>
                <span class="">
                    <label>
                        密码2
                    </label>
                    <input
                        v-model="form.password2"
                        type="password">
                </span>
            </div>
            <div class="row">
                <span class="left">
                    <label>
                        账号3
                    </label>
                    <input
                        v-model="form.username3"
                        type="text">
                </span>
                <span class="">
                    <label>
                        密码3
                    </label>
                    <input
                        v-model="form.password3"
                        type="password">
                </span>
            </div>
        </div>
        <div class="field">
            <p class="title">
                重置信息
            </p>
            <div class="row">
                <span class="left full">
                    <label>
                        需要重置的账号
                    </label>
                    <input
                        v-model="form.mainUsername"
                        type="text"
                        autofocus>
                </span>
            </div>
            <div class="row">
                <span class="left">
                    <label>
                        重设密码
                    </label>
                    <input
                        v-model="form.newPassword"
                        type="password">
                </span>
                <span class="">
                    <label>
                        确认密码
                    </label>
                    <input
                        v-model="form.cfmPassword"
                        type="password">
                </span>
            </div>
        </div>
        <div class="row">
            <a @click="submit"
                class="btn-submit">
                {{ btnText }}
            </a>
        </div>
        <p v-show="!!message"
            transition="fade"
            class="message">
            {{ message }}
        </p>
    </div>

</template>

<script>

    import {
        resetPassword,
    } from "store/action";

    import { extractMessage } from "resource/util";

    import Promise from "promise";

    export default {
        data() {
            return {
                form: {
                    username1: "",
                    password1: "",
                    username2: "",
                    password2: "",
                    username3: "",
                    password3: "",
                    mainUsername: "",
                    newPassword: "",
                    cfmPassword: "",
                },
                isSubmiting: false,
                message: null,
            };
        },
        vuex: {
            actions: {
                resetPassword,
            },
        },
        computed: {
            btnText() {
                return (this.isSubmiting ? "正在提交..." : "提交");
            },
        },
        methods: {
            resetForm() {
                Object.keys(this.form).forEach(key => (this.form[key] = null));
            },
            showMessage(message) {
                this.message = message;
            },
            hideMessage() {
                this.message = null;
            },
            startSubmiting(promise) {
                if (promise.then) {
                    this.isSubmiting = true;
                    promise.then(
                        this.endSubmiting,
                        this.endSubmiting
                    );
                }
            },
            endSubmiting() {
                this.isSubmiting = false;
            },
            submit() {
                this.hideMessage();

                const { newPassword, cfmPassword } = this.form;
                const hasBlank = Object.keys(this.form).some(key => !this.form[key]);
                if (hasBlank) {
                    this.showMessage("还有未填项哦~");
                    return;
                }
                if (newPassword !== cfmPassword) {
                    this.showMessage("两次输入的密码不相同哦~");
                    return;
                }

                this.startSubmiting(
                    this.resetPassword(this.form)
                        .then(() => {
                            this.hideMessage();
                            this.resetForm();
                            this.$router.go("/auth/login");
                            return Promise.resolve();
                        })
                        .catch(error => {
                            this.showMessage(extractMessage(error));
                            throw error;
                        })
                );
            },
        },
    };

</script>

<style scoped>

    .form {
        top: 165px;
        left: 155px;
        width: 1130px;
        background: #39598c;
        border-radius: 20px;
        padding: 10px;
        color: #fff;
        font-size: 36px;
        line-height: 47px;
            box-shadow: 0px 8px 4px 0 rgba(0, 0, 0, .4), 0 0 4px 1px #e9ecb4 inset; /*no*/
        position: absolute;
    }

    .field {
        margin-top: 10px 0;
    }

    .title {
        margin: 10px 0;
        font-size: 24px;
        text-align: center;
    }

    .row:not(:first-child) {
        margin-bottom: 20px;
        text-align: center;
    }

    .btn-submit {
        padding: 0 1em;
        background: #fff;
        color: #39598c;
        text-align: center;
        border-radius: 10px;
    }

    .message {
        min-height: 40px;
        margin-top: 25px;
        color: red;
        font-size: 24px;
        text-align: center;
    }

    label {
        min-width: 145px;
        color: #fff;
        font-weight: 600;
        text-align: right;
        display: inline-block;
    }

    .left label {
        min-width: 260px;
    }

    input {
        width: 300px;
    }

    .left.full input {
        width: 783px;
    }

</style>
