<template>

    <div class="body">
        <div class="up">
            <div class="operation">
                <a @click="showPopup"
                    class="operation-btn setting">
                </a>
                <a @click="logOut"
                    class="operation-btn cancel">
                </a>
            </div>
        </div>
        <tab-sheet
            :datasets="datasets"
            :current="current">
            <router-view
                keep-alive>
            </router-view>
        </tab-sheet>
        <popup
            v-ref:popup
            :validate="validate"
            :submit="submit"
            :get-password-strength="getPasswordStrength">
        </popup>
    </div>

</template>

<script>

    import Popup from "module/Popup";
    import TabSheet from "module/TabSheet";

    import { extractMessage } from "resource/util";

    import {
    } from "store/getter";
    import {
        logOut,
        changePassword,
        getPasswordStrength,
    } from "store/action";

    import Promise from "promise";

    export default {
        components: {
            Popup,
            TabSheet,
        },
        data() {
            return {
                datasets: [
                    {
                        label: "查看账号",
                        value: "account",
                        path: "/user/account",
                    },
                    {
                        label: "新建账户",
                        value: "new",
                        path: "/user/new",
                    },
                    {
                        label: "密码生成",
                        value: "password",
                        path: "/user/password",
                    },
                ],
            };
        },
        vuex: {
            actions: {
                logOut,
                changePassword,
                getPasswordStrength,
            },
        },
        computed: {
            path() {
                return this.$route.path;
            },
            current() {
                return this.path.split("/")[2];
            },
        },
        methods: {
            validate({ oldPassword, newPassword, cfmPassword }) {
                if (!oldPassword) {
                    return Promise.reject("旧密码不能为空哦~");
                }
                if (!newPassword) {
                    return Promise.reject("密码不能为空哦~");
                }
                if (newPassword !== cfmPassword) {
                    return Promise.reject("两次输入的密码不相同哦~");
                }
                return Promise.resolve();
            },
            submit(form) {
                return this.changePassword(form)
                    .then(() => {
                        this.$router.go("/auth/login");
                        window.location.reload();
                        return Promise.resolve();
                    })
                    .catch(error => Promise.reject(extractMessage(error)));
            },
            showPopup() {
                this.$refs.popup.showPopup();
            },
        },
    };

</script>

<style scoped>

    .body {
        padding: 0 230px;
        padding-top: 19px;
    }

    .up {
        width: 980px;
        height: 382px;
        background: url(../../image/up.png) scroll no-repeat center center / cover;
        position: relative;
    }

    .operation {
        top: 228px;
        left: 516px;
        font-size: 0;
        position: absolute;
    }

    .operation-btn {
        height: 88px;
        background: transparent scroll no-repeat center center / cover;
    }

    .operation-btn.setting {
        width: 166px;
        background-image: url(../../image/setting.png);
    }

    .operation-btn.cancel {
        width: 162px;
        background-image: url(../../image/cancel.png);
    }

</style>
