<template>

    <div @keyup.enter="produce"
        class="form">
        <div class="clearfix">
            <div class="left">
                <div class="row">
                    <label>
                        下划线
                    </label>
                    <input
                        v-model="form.allowUnderscore"
                        type="checkbox">
                </div>
                <div class="row">
                    <label>
                        大写字母
                    </label>
                    <input
                        v-model="form.allowUppercase"
                        type="checkbox">
                </div>
                <div class="row">
                    <label>
                        特殊字符
                    </label>
                    <input
                        v-model="form.allowSpecialCharacter"
                        type="checkbox">
                </div>
            </div>
            <div class="right">
                <a @click="produce"
                    class="btn-produce">
                </a>
                <p class="password">
                    {{ password }}
                </p>
            </div>
        </div>
        <p v-show="!!message"
            transition="fade"
            class="message">
            {{ message }}
        </p>
    </div>

</template>

<script>

    import {
        getRandomPassword,
    } from "store/action";

    export default {
        data() {
            return {
                form: {
                    allowUppercase: false,
                    allowUnderscore: false,
                    allowSpecialCharacter: false,
                },
                password: "",
                message: null,
            };
        },
        vuex: {
            actions: {
                getRandomPassword,
            },
        },
        methods: {
            showMessage(message) {
                this.message = message;
            },
            hideMessage() {
                this.message = null;
            },
            produce() {
                this.hideMessage();

                this.getRandomPassword(this.form)
                    .then(({ password }) => (this.password = password));
            },
        },
    };

</script>

<style scoped>

    .form {
        width: 850px;
        margin: 0 auto;
        padding-top: 76px;
        font-size: 36px;
    }

    .row {
        text-align: center;
    }

    .row:not(:first-child) {
        margin-top: 30px;
    }

    .left,
    .right {
        float: left;
        width: 50%;
    }

    .left {
        text-align: center;
    }

    .right {
        padding-left: 100px;
        box-sizing: border-box;
    }

    .btn-produce {
        width: 156px;
        height: 161px;
        background: url(../../image/produce.png) scroll no-repeat center center / cover;
    }

    .password {
        width: 240px;
        line-height: 50px;
        min-height: 50px;
        margin-top: 40px;
        padding: 0 20px;
        color: #39598c;
        background: rgba(255, 255, 255, .3);
        border-radius: 10px;
        box-shadow: 0 6px 4px 0 rgba(0, 0, 0, .4);
        word-wrap: break-word;
        font-size: 25px;
    }

    .message {
        margin-top: 25px;
        color: red;
        font-size: 24px;
        text-align: center;
    }

    label {
        min-width: 193px;
        color: #fff;
        text-align: right;
        display: inline-block;
    }

</style>
