<template>

    <ul class="categories">
        <li v-for="row in list"
            class="row">
            <ul class="list clearfix">
                <li v-for="cate in row"
                    class="list-item">
                    <a v-link="{ path: cate.path }"
                        :title="cate.name"
                        class="list-item-link">
                        <img :src="cate.iconPath">
                    </a>
                </li>
            </ul>
        </li>
    </ul>

</template>

<script>

    import {
        categories,
    } from "store/getter";
    import {
        getCategories,
    } from "store/action";

    export default {
        data() {
            return {
                per: 4,
            };
        },
        vuex: {
            getters: {
                categories,
            },
            actions: {
                getCategories,
            },
        },
        route: {
            data() {
                return this.getCategories();
            },
        },
        computed: {
            list() {
                return this.categories.reduce(
                    (prev, item) => {
                        const len = prev.length;
                        let last = prev[len - 1];
                        if (!last || (last.length === this.per)) {
                            last = [];
                            prev.push(last);
                        }
                        last.push(
                            Object.assign(
                                {},
                                item,
                                {
                                    path: `/user/account/${item.name}`,
                                }
                            )
                        );
                        return prev;
                    },
                    []
                );
            },
        },
    };

</script>

<style scoped>

    ul {
        width: 100%;
        display: inline-block;
    }

    img {
        width: 132px;
        vertical-align: middle;
    }

    .categories {
        float: left;
        height: 100%;
        overflow-y: auto;
    }

    .row {
        float: left;
        width: 100%;
        height: 50%;
        border-top: 1px solid #fff; /*no*/
        box-sizing: border-box;
    }

    .row:first-child {
        border: 0;
    }

    .list {
        float: left;
        height: 100%;
    }

    .list-item {
        float: left;
        width: 25%;
        height: 100%;
        text-align: center;
        box-sizing: border-box;
    }

    .list-item:not(:first-child) {
        border-left: 1px solid #fff; /*no*/
    }

    .list-item-link {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

</style>
