<template>

    <ul v-if="rows.length > 0"
        class="accounts">
        <li v-for="row in rows"
            class="row">
            <ul class="list">
                <li v-for="item in row"
                    track-by="$index"
                    class="list-item">
                    <template
                        v-if="!!item">
                        <img
                            :src="item.website.iconPath"
                            class="website">
                        <div class="line">
                            <label>
                                账号
                            </label>
                            <span
                                :title="item.username"
                                class="info">
                                {{ item.username }}
                            </span>
                        </div>
                        <div class="line">
                            <label>
                                密码
                            </label>
                            <span
                                :title="item.password"
                                class="info">
                                {{ item.password }}
                            </span>
                            <span class="strength">
                                {{ item.passwordStrength }}
                            </span>
                        </div>
                        <div class="operation">
                            <a @click="showPopup(item)"
                                class="operation-btn modify">
                            </a>
                            <a @click="deleteAccountItem(item)"
                                class="operation-btn delete">
                            </a>
                        </div>
                    </template>
                </li>
            </ul>
        </li>
    </ul>
    <p v-else
        class="hint">
        什么都没有呢&gt;..&lt;
        <br>
        赶紧去
            <a v-link="{ path: '/user/new' }">
                新建账户
            </a>
        新建一个吧(๑•̀ㅂ•́)و✧
    </p>
    <popup
        v-ref:popup
        :show-old="false"
        :validate="validate"
        :submit="submit"
        :get-password-strength="getPasswordStrength">
    </popup>

</template>

<script>

    import Popup from "module/Popup";

    import {
        accounts,
    } from "store/getter";
    import {
        getAccountList,
        deleteAccountItem,
        updateAccountItem,
        getPasswordStrength,
    } from "store/action";

    import { extractMessage } from "resource/util";

    export default {
        components: {
            Popup,
        },
        data() {
            return {
                name: null,
            };
        },
        vuex: {
            getters: {
                accounts,
            },
            actions: {
                getAccountList,
                deleteAccountItem,
                updateAccountItem,
                getPasswordStrength,
            },
        },
        computed: {
            list() {
                const { accounts } = this.accounts.find(
                    ({ name }) => (name === this.name)
                ) || {};
                return (accounts || []);
            },
            rows() {
                const mod = this.list.length % 4;
                const len = ((mod === 0) ? 0 : (4 - mod));
                const _list = this.list.slice().concat(Array.from(Array(len)));
                return _list.reduce(
                    (prev, item, index) => {
                        let last;
                        if (index % 4 === 0) {
                            last = [];
                            prev.push(last);
                        }
                        else {
                            last = prev[prev.length - 1];
                        }
                        last.push(item);
                        return prev;
                    },
                    []
                );
            },
        },
        route: {
            data({ to }) {
                this.name = to.params.name;
                return this.getAccountList();
            },
        },
        methods: {
            validate({ newPassword, cfmPassword }) {
                if (!newPassword) {
                    return Promise.reject("密码不能为空哦~");
                }
                if (newPassword !== cfmPassword) {
                    return Promise.reject("两次输入的密码不相同哦~");
                }
                return Promise.resolve();
            },
            submit(account, { newPassword }) {
                return this.updateAccountItem(account, { password: newPassword })
                    .catch(error => Promise.reject(extractMessage(error)));
            },
            showPopup(account) {
                this.$refs.popup.showPopup(account);
            },
        },
    };

</script>

<style scoped>

    ul {
        width: 100%;
        display: inline-block;
    }

    .accounts {
        float: left;
        height: 100%;
        color: #fff;
        border: 1px solid #fff; /*no*/
        border-width: 0 1px; /*no*/
        font-size: 20px;
        overflow-y: auto;
        box-sizing: border-box;
    }

    .row {
        float: left;
        width: 100%;
        height: 50%;
        box-sizing: border-box;
    }

    .row:not(:last-child) {
        border-bottom: 1px solid #fff; /*no*/
    }

    .row:first-child {
        border-bottom: 1px solid #fff; /*no*/
    }

    .list {
        float: left;
        height: 100%;
    }

    .list-item {
        float: left;
        width: 25%;
        height: 100%;
        padding: 10px 20px;
        box-sizing: border-box;
    }

    .list-item:not(:first-child) {
        border-left: 1px solid #fff; /*no*/
    }

    .website {
        width: 80px;
        height: 80px;
        border: 3px solid #fff;
        border-radius: 10px;
        box-sizing: border-box;
    }

    .line {
        height: 30px;
        margin-top: 10px;
        padding-left: 60px;
        padding-right: 40px;
        line-height: 30px;
        position: relative;
    }

    .line > label {
        left: 0;
        top: 0;
        height: 100%;
        position: absolute;
    }

    .info {
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .strength {
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        color: #7b001d;
        text-align: center;
        background: #6b7fa3;
        border-radius: 50%;
        position: absolute;
    }

    .operation {
        margin-top: 15px;
        text-align: right;
    }

    .operation-btn {
        height: 21px;
        background: transparent scroll no-repeat center center / cover;
    }

    .operation-btn.modify {
        width: 66px;
        background-image: url(../../image/modify.png);
    }

    .operation-btn.delete {
        width: 36px;
        background-image: url(../../image/delete.png);
    }

    .hint {
        margin-top: 100px;
        color: rgba(255, 255, 255, .8);
        font-size: 30px;
        line-height: 2;
        text-align: center;
    }

    .hint a {
        color: rgba(233, 233, 233, .5);
    }

    .hint a:hover {
        text-decoration: underline;
    }

</style>
