<template>

    <div @keyup.enter="submit"
        class="form clearfix">
        <div class="clearfix">
            <div class="left">
                <div class="row">
                    <label>
                        账号：
                    </label>
                    <input
                        v-model="account.username"
                        type="text"
                        autofocus>
                </div>
                <div class="row">
                    <label>
                        密码：
                    </label>
                    <input
                        v-model="account.password"
                        debounce="100"
                        type="password">
                    <level-select
                        :datasets="[ '弱', '中', '强' ]"
                        :active="strength"
                        class="strength">
                    </level-select>
                </div>
                <div class="row">
                    <label>
                        确认密码：
                    </label>
                    <input
                        v-model="account.cfmPassword"
                        type="password">
                </div>
            </div>
            <div class="right">
                <div class="row">
                    <label>
                        图标：
                    </label>
                    <img-select
                        :value.sync="account.websiteId"
                        :datasets="websites">
                    </img-select>
                </div>
                <div class="row">
                    <label>
                        类别：
                    </label>
                    <select
                        v-model="account.categoryId">
                        <option
                            v-for="cate in categories"
                            :value="cate.id">
                            {{ cate.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row operation">
            <a @click="submit"
                class="btn-submit">
                {{ btnText }}
            </a>
        </div>
        <p v-show="!!message"
            transition="fade"
            class="message">
            {{ message }}
        </p>
    </div>

</template>

<script>

    import ImgSelect from "module/ImgSelect";
    import LevelSelect from "module/LevelSelect";

    import {
        websites,
        categories,
    } from "store/getter";
    import {
        getWebsites,
        getCategories,
        saveAccountItem,
        getPasswordStrength,
    } from "store/action";

    import { extractMessage } from "resource/util";

    import Promise from "promise";

    export default {
        components: {
            ImgSelect,
            LevelSelect,
        },
        data() {
            return {
                account: {
                    username: "",
                    password: "",
                    cfmPassword: "",
                    categoryId: null,
                    websiteId: null,
                },
                strength: "弱",
                message: null,
                isSubmiting: false,
            };
        },
        vuex: {
            getters: {
                websites,
                categories,
            },
            actions: {
                getWebsites,
                getCategories,
                saveAccountItem,
                getPasswordStrength,
            },
        },
        computed: {
            btnText() {
                return (this.isSubmiting ? "正在提交..." : "完成");
            },
        },
        watch: {
            "account.password"(value) {
                if (!value) {
                    return;
                }

                this.getPasswordStrength(this.account)
                    .then(({ strength }) => (this.strength = strength));
            },
        },
        route: {
            data() {
                return Promise.all([
                    this.getWebsites(),
                    this.getCategories(),
                ]);
            },
        },
        methods: {
            resetAccount() {
                Object.keys(this.account).forEach(key => (this.account[key] = null));
            },
            showMessage(message) {
                this.message = message;
            },
            hideMessage() {
                this.message = null;
            },
            startSubmiting(promise) {
                if (promise.then) {
                    this.isSubmiting = true;
                    promise.then(
                        this.endSubmiting,
                        this.endSubmiting
                    );
                }
            },
            endSubmiting() {
                this.isSubmiting = false;
            },
            submit() {
                this.hideMessage();

                const {
                    username,
                    password,
                    cfmPassword,
                    websiteId,
                    categoryId,
                } = this.account;
                if (username.length === 0) {
                    this.showMessage("账号不能为空哦~");
                    return;
                }
                if (password.length === 0) {
                    this.showMessage("密码不能为空哦~");
                    return;
                }
                if (password !== cfmPassword) {
                    this.showMessage("两次输入的密码不相同哦~");
                    return;
                }
                if (websiteId === null) {
                    this.showMessage("图标不能为空哦~");
                    return;
                }
                if (categoryId === null) {
                    this.showMessage("类别不能为空哦~");
                    return;
                }

                this.startSubmiting(
                    this.saveAccountItem(this.account)
                        .then(() => {
                            this.showMessage("新建账户成功^_^");
                            this.resetAccount();
                            return Promise.resolve();
                        })
                        .catch(error => {
                            this.showMessage(extractMessage(error));
                            throw error;
                        })
                );
            },
        },
    };

</script>

<style scoped>

    .form {
        width: 850px;
        margin: 0 auto;
        padding-top: 76px;
        font-size: 36px;
    }

    .left,
    .right {
        float: left;
    }

    .left {
        margin-right: 15px;
    }

    .row {
        margin-top: 15px;
        text-align: center;
        clear: both;
    }

    .left .row,
    .right .row {
        text-align: left;
    }

    .row.operation {
        margin-top: 30px;
    }

    .btn-submit {
        padding: 0 1em;
        background: #334056;
        color: #fff;
        font-size: 48px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 8px 4px 0 rgba(0, 0, 0, .4);
    }

    .message {
        margin-top: 25px;
        color: red;
        font-size: 24px;
        text-align: center;
    }

    .reset {
        right: 30px;
        bottom: 30px;
        font-size: 24px;
        font-family: 黑体;
        color: #fff;
        position: absolute;
    }

    .left .strength {
        width: 130px;
        min-width: 0;
        font-size: 24px;
        transform: translateY(4px);
    }

    label {
        color: #fff;
        font-weight: 600;
        text-align: right;
        display: inline-block;
    }

    .left label {
        min-width: 190px;
    }

    input {
        width: 212px;
        line-height: 1.2;
    }

</style>
