html,
body {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

a,
span {
    display: inline-block;
}

a {
    color: #39598c;
    opacity: 1;
    cursor: pointer;
}

a:hover {
    opacity: .8;
}

a:active {
    opacity: .6;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

input,
textarea {
    border: 0;
    outline: 0;
    color: inherit;
    background: inherit;
}

input:focus,
textarea:focus,
select:focus {
    outline: 0;
}

input[type="text"],
input[type="password"],
textarea,
select {
    padding: 0 .5em;
    background: #b0bdd1;
    color: #39598c;
    border-radius: 10px;
    line-height: 1.6;
    box-sizing: border-box;
}

input[type="checkbox"] {
    width: 1em;
    height: 1em;
    border: 2px solid #fff;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 .5em #49628f inset;
    line-height: 1.6;
    appearance: none;
    cursor: pointer;
    transition: box-shadow .3s ease;
    box-sizing: border-box;
    transform: translateY(20%);
}

input[type="checkbox"]:checked {
    box-shadow: 0 0 0 .3em #49628f inset;
}

textarea {
    width: 100%;
    min-height: 60px;
    resize: none;
    display: block;
}

select {
    text-align: center;
}

.body {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.block {
    display: block;
}

.underline {
    text-decoration: underline;
}

.selected-show {
    display: none;
}

.selected-hide {
    display: inline-block;
}

.selected-hide.block {
    display: block;
}

.selected .selected-show {
    display: inline-block;
}

.selected .selected-show.block {
    display: block;
}

.selected .selected-hide {
    display: none;
}

/**
 * float styles
 */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    content: "";
    width: 0;
    height: 0;
    clear: both;
    display: block;
}

/**
 * button style
 */
.btn {
    cursor: pointer;
    user-select: none;
}

/**
 * border styles
 */
.no-border {
    border: 0;
}

/**
 * col styles
 */
.row {
    display: block;
}

.row::after {
    content: "";
    width: 0;
    height: 0;
    clear: both;
    display: block;
}

.col-left,
.col-right {
    float: left;
    width: 50%;
}

.col-left {
    text-align: left;
}

.col-right {
    text-align: right;
}

/**
 * vue transition
 */
.fade-transition {
    opacity: 1;
    transition: opacity .5s ease;
}

.fade-enter,
.fade-leave {
    opacity: 0;
}

@font-face {
    font-family: "迷你简菱心";
    src: url(../font/mnjlx.ttf) format("truetype");
}
